.specials {
  margin-top: 12rem;
}

.specials .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials .menu-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  gap: 2rem;
}
