.testimonials h2 {
  text-align: center;
}

.testimonials .testimonials-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
  gap: 2rem;
}

.testimonials article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-wrapper {
  margin: 1rem 0;
}

.profile-img {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-img img {
  height: 100%;
  width: autol;
}
