.footer {
  background-color: #edefee;
  padding: 4rem 0;
}

.footer > ul {
  display: flex;
  flex-direction: column;
}

.footer .social {
  display: flex;
}

.social a {
  padding: 0.6rem;
}

.footer > ul > li {
  flex-basis: 25%;
}

.footer li li {
  display: block;
}

@media (min-width: 768px) {
  .footer > ul {
    flex-direction: row;
  }
}
